<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">About Me</a></li>
      <li><a href="/">Contact Me</a></li>

      <% if (isAuthenticated) { %>
      <a href="/logout">Logout</a>
      <% } else { %>
      <a href="/login">Login</a>
      <% } %>
    </ul>
  </nav>
</header>
