<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Using MERN Stack</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div id="wrapper">
      <!--nav bar-->
      <%- include('../partials/header') %>
      <h1>The requested page was not found.</h1>

      <p>
        Please login first to comment <a href="/login">Login</a>
      </p>

      <!--footer-->
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
