<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using MERN Stack</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <div id="wrapper">
    <!--nav bar-->
    <%- include('../partials/header') %>
    <h1><%= post.title %></h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
      hendrerit dui at sagittis interdum. Etiam pulvinar rutrum ligula, a
      scelerisque tortor elementum eu. Duis elementum mauris vel aliquam semper.
      Maecenas volutpat eu magna sed hendrerit. In eget imperdiet tellus, id
      porta odio. Sed mollis mi eleifend, auctor orci et, vehicula ante.
      Suspendisse vulputate sem ac faucibus varius. Pellentesque lobortis enim
      vel libero volutpat sollicitudin. Aliquam rutrum vel tellus nec ultrices.
      Cras congue dolor at dapibus ultrices. Proin consequat tortor quis
      sollicitudin accumsan. Pellentesque varius a mi sed sodales. Donec ac
      vehicula justo. Donec diam lacus, varius vitae nunc in, lacinia gravida
      tortor.
    </p>


    <!--footer-->
    <%-  include('../partials/footer') %>
  </div>
</body>
</html>